
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.roboto-medium {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
  }
  


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.homePage_Container{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background: #87c56c;
}

.homeScoreBoard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    width: 57vmax;
    padding: 0.8rem 1rem;
    border: 2px solid rgb(248, 244, 244);
    border-radius: 1rem;
    justify-self: center;
    transform: translateY(3rem);
}

.GameName p{
  color: white;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.5rem;
}

.Homescores{
    display: flex;
    text-align: center;
    gap: 2rem;
}

.homeScore_Box{
    padding: 0.5rem 1.5rem;
    height: 17vh;
    border-radius: 1rem;
    background-color: #fff;
    align-self:flex-start;
}

.homeScore_Box p{
    color: gray;
    width: 7vw;
    font-size: 1rem;
}

.homeScore_Box h5{
    font-size: 3rem;
}

#yourbox{
    padding: 0.5rem 1.8rem;
}

#yourbox p{
    width: 5vw;
}

.Game_Symbols{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
  padding: 2rem;
  transform: translateY(12rem);
  height: 50vh;
  width: 25vw;
}

.Game_Symbols img{
    height: 30vh;
    width: 15vw;
    display: flex;
    justify-self: center;
    rotate: 180deg;
} 

.groupGame_Symbols{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    gap: 9rem;
    width: 10%;
    transform: translateY(-5.5rem);
}

.Symbol_Box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: #fff;
    transform: translateY(-11rem);
    border-radius: 5rem;
    cursor: pointer;
}

#fistSymbol{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #fff;
    padding: 34% 39%;
    border: 15px solid rgb(60, 81, 144);
    border-radius: 5rem;
}

#scissorSymbol{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #fff;
    padding: 29% 32.5%;
    border: 15px solid rgb(177, 4, 177);
    border-radius: 5rem;
    rotate: 90deg !important;
}

#handSymbol{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    font-size: 2rem;
    width: 5vw;
    padding: 7% 12.5%;
    border: 15px solid rgb(213, 144, 33);
    border-radius: 5rem;
}

.Rules_OuterBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-self: flex-end;
    align-items: flex-end;
    
}


.GameRules_Box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: flex-end;
    position: absolute;
    bottom: 5.5rem;
    right: 4rem;
    padding: 0rem 1.9rem;
    align-items: center;
    background:#364f33;
    height: 53vh;
    width: 22vw;
    border-radius: 1rem;
    border: 8px solid rgb(254, 251, 251);
}

 .GameRules_Box #crossSymbol{
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
  margin-right: -3.2rem;
  color: red;
  transform: translateY(-2.6rem);
  background-color: white;
  border: 5px solid white;
  border-radius:21rem ;
  z-index: 99999999;
  font-size: 2.5rem;
  cursor: pointer;
}

.GameRules_Box h5{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    transform: translateY(-1.9rem) ;
}

.GameRules_Box ul{
    transform: translateY(-0.5rem);
}

.GameRules_Box li{
    list-style-type: none;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    color: #fffffe;
    font-weight: 400;
    text-align: left;
    margin-bottom: 1.2rem;
}

.GameRules_Box li::before{
  content: "\25A0";
  color:rgb(252, 248, 3);
  font-size: 1.2rem;
  margin-right: 1rem;
  display: inline-block;
}

 .rulesbtn{
    display: flex;
    justify-self: center !important;
    align-self: center;
    margin-left: -11rem;
    transform: translateY(9.5rem);
    padding: 0.2rem 1.2rem;
    letter-spacing: 0.2rem;
    background: transparent;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
    font-weight: 400;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}

.hide{
    opacity: 0;
    z-index: 0;
}

@media screen and (max-width:1440px) {
    .groupGame_Symbols{
        transform: translateY(-4rem);
    }

    .rulesbtn{
        transform: translateY(7rem);
    }
}

@media screen and (max-width:1024px){

    .Game_Symbols{
        transform: translateY(9rem);
    }


    .Game_Symbols img{
        width: 25vw;
        height: 35vh;
    }

    .groupGame_Symbols{
        transform: translateY(-5.5rem);
    }

    #handSymbol{
        padding: 10% 18.5%;
    }


    .GameRules_Box{
        width: 28vw;
    }

    .GameRules_Box #crossSymbol{
        transform: translateY(-3.5rem);
    }

    .GameRules_Box li{
font-size: 0.7rem;
width: 20vw;
    }

    .GameRules_Box li::before{
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }
}